<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "basehead.html" %} {% block head %} {% endblock %}
  </head>

  <header>
    <div class="headerContent">
      <a class="name" href="/">Caleb Frankenberger</a>
      <ul class="navlist">
        <li><a href="/">Home</a></li>
        <li><a href="/blog/">Posts</a></li>
        <li>
            <button class="themeToggleButton" title="Toggle Theme">
              <input
                type="checkbox"
                class="themeToggleInput"
                onclick="toggleTheme();"
                id="themeToggleCheckbox"
              />
              <label class="themeToggleLabel hover" for="themeToggleCheckbox">Theme</label>
            </button>
        </li>
      </ul>

      
      </div>
    </div>
  </header>
  <body>
    {% block content %} {{content | safe }} {% endblock %}
  </body>

  <footer>
   <div class="footerContent">
      <p>Caleb Frankenberger</p>
      <p>mail@calebfrankenberger.com</p>
   </div>
  </footer>
</html>

<script src="/scripts/theme.js"></script>
