@import url('./reset.css');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url("./theme/theme.css");

body {
  font-family: 'Karla', sans-serif;
  background-color: var(--md-sys-color-background);
  color: var(--md-sys-color-on-background);
}

a:visited {
  color: var(--md-sys-color-on-background);
}

h1 {
  color: var(--md-sys-color-primary);
  font-size: 2rem;
  line-height: 1.5;
  font-weight: 700;
}

h2 {
  color: var(--md-sys-color-primary);
  font-size: 1.6rem;
  line-height: 1.1;
  font-weight: 600;
}

a {
  color: var(--md-sys-color-on-background);
  text-decoration: none;
}

a:hover {
  color: var(--md-sys-color-secondary);
  text-decoration: underline;
  text-underline-offset: 2px;
}

/* HEADER */
.global_header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.global_header .container {
  width: 100%;
  max-width: 800px;
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 1.3rem;
  border-bottom: 1px dashed var(--md-sys-color-on-background);
}

.global_header .name {
  margin-right: 30px;
  font-weight: 700;
}

.global_header ul {
  padding: 0;
  list-style: none;
  display: flex;
}

.global_header ul li {
  margin-left: 10px;
  margin-right: 10px;
}

.navlist {
  display: flex;
  align-items: center;
}

/* CONTENT */
/* Keep (most) content within 1000px on the page */
.content_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  margin-top: 1rem;
  padding: 15px;
  width: 100%;
  max-width: 750px;
  background-color: var(--md-sys-color-surface-variant);
  color: var(--md-sys-color-on-surface-variant);
  border-radius: 25px;
}

/* THEME SWITCH */
/* CODE FROM https://codepen.io/irunatbullets/pen/MWwyVOw */
.toggleContainer {
  position: absolute;
  right: 1.5rem;
  top: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

#theme-button {
  background-color: var(--md-sys-color-background);
  border: none;
  font-size: 2rem;
  color: var(--md-sys-color-on-background);
}

.switch.mobile {
  display: none;
}

.switch.desktop {
  display: inline-block;
  position: relative;
}

.switch__input {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}
.switch__label {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
  background-color: #2b2b2b;
  border: 5px solid #5b5b5b;
  border-radius: 9999px;
  cursor: pointer;
  transition: all 0.4s cubic-bezier(0.46, 0.03, 0.52, 0.96);
}
.switch__indicator {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) translateX(-72%);
  display: block;
  width: 40px;
  height: 40px;
  background-color: #7b7b7b;
  border-radius: 9999px;
  box-shadow: 10px 0px 0 0 rgba(0, 0, 0, 0.2) inset;
}
.switch__indicator::before, .switch__indicator::after {
  position: absolute;
  content: '';
  display: block;
  background-color: #fff;
  border-radius: 9999px;
}
.switch__indicator::before {
  top: 7px;
  left: 7px;
  width: 9px;
  height: 9px;
  background-color: #fff;
  opacity: 0.6;
}
.switch__indicator::after {
  bottom: 8px;
  right: 6px;
  width: 14px;
  height: 14px;
  background-color: #fff;
  opacity: 0.8;
}
.switch__decoration {
  position: absolute;
  top: 65%;
  left: 50%;
  display: block;
  width: 5px;
  height: 5px;
  background-color: #fff;
  border-radius: 9999px;
  animation: twinkle 0.8s infinite -0.6s;
}
.switch__decoration::before, .switch__decoration::after {
  position: absolute;
  display: block;
  content: '';
  width: 5px;
  height: 5px;
  background-color: #fff;
  border-radius: 9999px;
}
.switch__decoration::before {
  top: -20px;
  left: 10px;
  opacity: 1;
  animation: twinkle 0.6s infinite;
}
.switch__decoration::after {
  top: -7px;
  left: 30px;
  animation: twinkle 0.6s infinite -0.2s;
}
@keyframes twinkle {
  50% {
    opacity: 0.2;
 }
}
.switch__indicator, .switch__indicator::before, .switch__indicator::after {
  transition: all 0.4s cubic-bezier(0.46, 0.03, 0.52, 0.96);
}
.switch__input:checked + .switch__label {
  background-color: #8fb5f5;
  border-color: #347cf8;
}
.switch__input:checked + .switch__label .switch__indicator {
  background-color: #ecd21f;
  box-shadow: none;
  transform: translate(-50%, -50%) translateX(72%);
}
.switch__input:checked + .switch__label .switch__indicator::before, .switch__input:checked + .switch__label .switch__indicator::after {
  display: none;
}
.switch__input:checked + .switch__label .switch__decoration {
  top: 50%;
  transform: translate(0%, -50%);
  animation: cloud 8s linear infinite;
  width: 20px;
  height: 20px;
}
.switch__input:checked + .switch__label .switch__decoration::before {
  width: 10px;
  height: 10px;
  top: auto;
  bottom: 0;
  left: -8px;
  animation: none;
}
.switch__input:checked + .switch__label .switch__decoration::after {
  width: 15px;
  height: 15px;
  top: auto;
  bottom: 0;
  left: 16px;
  animation: none;
}
.switch__input:checked + .switch__label .switch__decoration, .switch__input:checked + .switch__label .switch__decoration::before, .switch__input:checked + .switch__label .switch__decoration::after {
  border-radius: 9999px 9999px 0 0;
}
.switch__input:checked + .switch__label .switch__decoration::after {
  border-bottom-right-radius: 9999px;
}
@keyframes cloud {
  0% {
    transform: translate(0%, -50%);
 }
  50% {
    transform: translate(-50%, -50%);
 }
  100% {
    transform: translate(0%, -50%);
 }
}

/* MEDIA QUERIES */
@media (max-width: 1048px) {
  .toggleContainer {
    position: static;
    right: 1.5rem;
    top: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .switch.desktop {
    display: none;
  }

  .switch.mobile {
    font-size: 1.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .inactive {
    display: none;
  }
  
  .active {
    display: flex;
  }
  
  .switch.mobile {
    padding: 5px;
  }
}

@media (max-width: 700px) { 
  .global_header .container li a span {
    display: none;
  }
}

@media (max-width: 800px) {
  /* HEADER */
  .global_header .container {
    margin-left: 10px;
    margin-right: 10px;
  }

  /* CONTENT */
  .content {
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media (max-width: 600px) {
  body {
    line-height: 1.2;
  }

  h1 {
    margin-top: 7px;
    line-height: 1;
    margin-bottom: 5px;
  }

  h2 {
    line-height: 1;
    margin-bottom: 5px;
  }

  br {
    margin-bottom: 20px;
  }

  /* HEADER */
  .global_header .container {
    flex-direction: column;
    align-items: start;
  }
  .global_header .name {
    margin-top: 10px;
    font-size: 1.2rem;
    letter-spacing: 1px;
    margin-left: 10px;
    margin-bottom: 10px;
  }

  .global_header ul {
    padding: 0px;
    margin: 0px;
    margin-bottom: 1rem;
    margin-left: 10px;
    font-size: 1.1rem;
  }

  .global_header ul li:first-child {
    margin-left: 0px;
  }

  .switch.mobile {
    position: absolute;
    right: 10px;
    top: 10px;
  }

  /* CONTENT */
  .content {
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
  }
}